VITE_API_URL=http://localhost:3000


## Build kinL Docker image
## Same domain for PWA and API to avoid overwriting the baseUrl in the API client (no need to have bash script to override env variables)

#VITE_API_URL=/api 